name: Demo Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Restore
      run: dotnet restore SGU_Tools_CronExpressionBuilder.Demo
      
    - name: Build
      run: dotnet build SGU_Tools_CronExpressionBuilder.Demo --configuration Release --no-restore